<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/form.css" media="all">
    <link rel="stylesheet" href="/css/admin.css" media="all">
    <script src="/layui/layui.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<form class="layui-form" id="customerForm" lay-filter="customerForm">
    <div class="layui-fluid" style="padding-bottom: 75px;">
        <div class="layui-card">
            <div class="layui-card-body">
                <div class="layui-form-item layui-row">

                    <div class="layui-inline layui-col-md12" id="false" >
                        <label class="layui-form-label">作品名称</label>
                        <div class="layui-input-block">
                            <input id="note" name="note" placeholder="请输入作品名称" type="text" class="layui-input" lay-verify=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group-bottom text-center">
        <a class="layui-btn" id="tijiao" >&emsp;提交&emsp;</a>
    </div>

</form>
<script>
    layui.use(['layer'],function () {

        $("#tijiao").click(function () {
            $.ajax({
                type:'get',
                url: '/savaproduct',
                data:{
                    product:$("#note").val(),
                    phoneAccount:localStorage.getItem('phone')
                },
                success:function (result) {
                    if(result.state == 200){
                        layer.msg("操作成功", {
                            icon: 1,
                            time: 3000,
                            end: function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            }
                        });
                    }else {
                        layer.msg(result.message);
                    }

                },
                error:function () {
                    layer.msg("服务器异常");
                }
            })
        })


    })


</script>
</body>
</html>
