<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>

<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="shenfen">身份证审核</a>
    <a class="layui-btn layui-btn-xs" lay-event="hetong">合同审核</a>
    <a class="layui-btn layui-btn-xs" lay-event="zuoping">作品审核</a>
</script>
<img src=""id="test">
</body>
<script type="text/html" id="imgTpl">
    <div onclick="show_img(this);">{{d.justCard==null?'未上传':d.justCard}}<img  src="{{d.justCard}}" alt='暂无缩略图' style="display: none">
    </div>
</script>
<script type="text/html" id="imgTpl2">
    <div onclick="show_img(this);">{{d.versaCard==null?'未上传':d.versaCard}}<img src="{{d.versaCard}}" alt='暂无缩略图' style="display: none"></div>
</script>
<script type="text/html" id="imgTpl3">
    <div onclick="show_img(this);">{{d.versaCard==null?'未上传':d.versaCard}}<img src="{{d.contract}}" alt='暂无缩略图' style="display: none"></div>
</script>
<script>
    function show_img(t) {
        var t = $(t).find("img");
        //页面层
        layer.open({
            type: 1,
            skin: 'layui-layer-rim', //加上边框
            area: ['80%', '80%'], //宽高
            shadeClose: true, //开启遮罩关闭
            end: function (index, layero) {
                return false;
            },
            content: '<div style="text-align:center"><img src="' + $(t).attr('src') + '" /></div>'
        });
    }
    layui.use('table', function() {
            var table = layui.table; //表格

        //监听行工具事件
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'hetong'){
                localStorage.setItem("id",data.id);
                layer.open({
                    type: 2,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['80%', '80%'], //宽高
                    title:'合同审核',
                    shadeClose: true, //开启遮罩关闭
                    end: function (index, layero) {
                        return false;
                    },
                    content:'/phone_login/contract'
                });
               /* layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });*/
            } else if(obj.event === 'shenfen'){
                localStorage.setItem("id",data.id);
                layer.open({
                    type: 2,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['80%', '80%'], //宽高
                    title:'身份证审核',
                    shadeClose: true, //开启遮罩关闭
                    end: function (index, layero) {
                        return false;
                    },
                    content:'/phone_login/idCard'
                });
            }else if(obj.event ==='zuoping'){


                localStorage.setItem("zuopingid",data.phoneAccount);
                layer.open({
                    type: 2,
                    skin: 'layui-layer-rim', //加上边框
                    area: ['100%', '100%'], //宽高
                    title:'作品审核',
                    shadeClose: true, //开启遮罩关闭
                    end: function (index, layero) {
                        return false;
                    },
                    content:'/phone_login/showProductPree'
                });
            }
        });
            //执行一个 table 实例
            table.render({
                elem: '#demo',
                height: 600,
                url: '/background',//数据接口
                title: '审核表',
                page: true, //开启分页
                toolbar: 'default' ,//开启工具栏，此处显示默认图标，可以自定义模板，详见文档,
                totalRow: true ,//开启合计行
                cols: [//表头
                    [
                        { type: 'checkbox', fixed: 'left' },
                        { field: 'id', title: 'ID', width: 80, sort: true },
                        { field: 'username', title: '用户名', width: 80 },
                        { field: 'phoneAccount', title: '手机号', width: 150, sort: true },
                        { field: 'justCard', title: '人脸面',  templet:'#imgTpl',unresize: true, width: 150},
                        { field: 'versaCard', title: '国徽面', templet:'#imgTpl2',unresize: true, width: 150 },
                        { field: 'contract', title: '电子合同',templet:'#imgTpl3',unresize: true, width: 150, sort: true },
                        { field: 'createdTime', title: '创建时间', width: 177, sort: true },
                        { fixed: 'right', width: 300, align: 'center', toolbar: '#barDemo' }
                    ]
                ]
            });
        }
    )

</script>

</html>